<div>
    <h2>Conocenos</h2>
    <div class="container">
        <slick class="slider" dots="false" speed="300" autoplay="true" slides-to-show="1" slides-to-scroll="1" width="95%">
            <div>
                <img src="../images/lazyfonz1.png" width="100%" height="100%" />
            </div>
            <div>
                <img src="../images/lazyfonz2.png" width="100%" height="100%" />
            </div>
            <div>
                <img src="../images/lazyfonz3.png" width="100%" height="100%" />
            </div>
            <div>
                <img src="../images/lazyfonz4.png" width="100%" height="100%" />
            </div>
            <div>
                <img src="../images/lazyfonz5.png" width="100%" height="100%" />
            </div>
            <div>
                <img src="../images/lazyfonz6.png" width="100%" height="100%" />
            </div>
        </slick>
    </div>
</div>
