<div>
    <h2>Grupo PMA</h2>
    <div gridster="gridsterOpts">
        <ul>
            <li gridster-item row="0" col="0" size-x="4" size-y="4" style="border:solid">
                <div class="hidden-xs" style="width:150px;height: 90px;display: inline-block;"></div>
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-10">
                        <slick class="slider" dots="false" speed="100" autoplay="true" slides-to-show="1" slides-to-scroll="1">
                            <div>
                                <img src="../images/bg1.jpg" width="100%" height="100%" />
                            </div>
                            <div>
                                <img src="../images/bg2.jpg" width="100%" height="100%" />
                            </div>
                            <div>
                                <img src="../images/bg3.jpg" width="100%" height="100%" />
                            </div>
                            <div>
                                <img src="../images/bg4.jpg" width="100%" height="100%" />
                            </div>
                            <div>
                                <img src="../images/bg5.jpg" width="100%" height="100%" />
                            </div>
                        </slick>
                    </div>
                    <div class="col-sm-1">
                    </div>
            </li>
            <li gridster-item row="1" col="6" size-x="2" size-y="2" style="border:solid;" href="#Sec_Herramentales" du-smooth-scroll du-scrollspy>
                <table style="width: 100%;height: 100%">
                    <tr>
                        <td style="vertical-align: middle;">
                            <img src="../images/herramentales.png" width="100%" />
                        </td>
                    </tr>
                </table>
            </li>
            <li gridster-item row="0" col="4" size-x="2" size-y="2" style="border:solid;" href="#Sec_Terrasse" du-smooth-scroll du-scrollspy>
                <table style="width: 100%;height: 100%">
                    <tr>
                        <td style="vertical-align: middle;">
                            <img src="../images/terrasse.png" width="100%" />
                        </td>
                    </tr>
                </table>
            </li>
            <li gridster-item row="1" col="4" size-x="2" size-y="2" style="border:solid" href="#Sec_PMA" du-smooth-scroll du-scrollspy>
                <table style="width: 100%;height: 100%">
                    <tr>
                        <td style="vertical-align: middle;">
                            <img src="../images/pma1.png" width="100%" />
                        </td>
                    </tr>
                </table>
            </li>
            <li gridster-item row="0" col="6" size-x="2" size-y="2" style="border:solid" href="#Sec_TOTO" du-smooth-scroll du-scrollspy>
                <table style="width: 100%;height: 100%">
                    <tr>
                        <td style="vertical-align: middle;">
                            <img src="../images/toto.png" width="100%" />
                        </td>
                    </tr>
                </table>
            </li>
        </ul>
        </div>
    </div>
</div>
