<!-- <div class="w3-sidebar w3-bar-block w3-collapse w3-card-2 w3-animate-left" style="width:200px;" id="mySidebar">   -->
<!-- <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a> -->
<!-- <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a> -->
<!-- <div class="w3-sidebar w3-bar-block w3-collapse w3-card-2" style="width:200px;" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>    
    <ul>
        <li><a href="#Sec_GPMA" du-smooth-scroll du-scrollspy>Grupo PMA</a></li>
        <li><a href="#Sec_Clientes" du-smooth-scroll du-scrollspy>Clientes</a></li>
        <li><a href="#Sec_Conocenos" du-smooth-scroll du-scrollspy>Conocenos</a></li>
        <li><a href="#Sec_Contacto" du-smooth-scroll du-scrollspy>Contacto</a></li>
        <li><a href="#section-5" du-smooth-scroll du-scrollspy>Section 5</a></li>
    </ul>
</div> -->
<div class="container fluid">
    <div class="w3-teal">
        <button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
        <!-- <div class="w3-container">
            <h1>My Page</h1>
        </div> -->
    </div>
    <div class="wrap">
        <section id="Sec_GPMA2">
            <!-- <div ng-include="portada.htm">
            </div> -->
            test
            <div>
                <ng-include src="../views/portada.html" ></ng-include>
            </div>
        </section>
        <section id="Sec_GPMA">
            <h2>Grupo PMA</h2>
            <div gridster="gridsterOpts">
                <ul>
                    <li gridster-item row="0" col="0" size-x="4" size-y="4" style="border:solid">
                        <div class="hidden-xs" style="width:150px;height: 90px;display: inline-block;"></div>
                        <div class="row">
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-10">
                                <slick class="slider" dots="true" speed="100" autoplay="true" slides-to-show="1" slides-to-scroll="1">
                                    <div>
                                        <img src="../images/bg1.jpg" width="100%" height="100%" />
                                    </div>
                                    <div>
                                        <img src="../images/bg2.jpg" width="100%" height="100%" />
                                    </div>
                                    <div>
                                        <img src="../images/bg3.jpg" width="100%" height="100%" />
                                    </div>
                                    <div>
                                        <img src="../images/bg4.jpg" width="100%" height="100%" />
                                    </div>
                                    <div>
                                        <img src="../images/bg5.jpg" width="100%" height="100%" />
                                    </div>
                                </slick>
                            </div>
                            <div class="col-sm-1">
                            </div>
                    </li>
                    <li gridster-item row="1" col="6" size-x="2" size-y="2" style="border:solid;" href="#Sec_Herramentales" du-smooth-scroll du-scrollspy>
                        <table style="width: 100%;height: 100%">
                            <tr>
                                <td style="vertical-align: middle;">
                                    <img src="../images/herramentales.png" width="100%" />
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li gridster-item row="0" col="4" size-x="2" size-y="2" style="border:solid;" href="#Sec_Terrasse" du-smooth-scroll du-scrollspy>
                        <table style="width: 100%;height: 100%">
                            <tr>
                                <td style="vertical-align: middle;">
                                    <img src="../images/terrasse.png" width="100%" />
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li gridster-item row="1" col="4" size-x="2" size-y="2" style="border:solid" href="#Sec_PMA" du-smooth-scroll du-scrollspy>
                        <table style="width: 100%;height: 100%">
                            <tr>
                                <td style="vertical-align: middle;">
                                    <img src="../images/pma1.png" width="100%" />
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li gridster-item row="0" col="6" size-x="2" size-y="2" style="border:solid" href="#Sec_TOTO" du-smooth-scroll du-scrollspy>
                        <table style="width: 100%;height: 100%">
                            <tr>
                                <td style="vertical-align: middle;">
                                    <img src="../images/toto.png" width="100%" />
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
                </div>
            </div>
        </section>
        <section id="Sec_Clientes">
            <h2>Clientes</h2>
            <div class="jumbotron">
                <h1>My First Bootstrap Page</h1>
                <p>Resize this responsive page to see the effect!</p>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Column 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Column 2</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Column 3</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section name="Sec_Distribucion">
            <h2>Distribucion</h2>
            <div class="jumbotron">
                <h1>My First Bootstrap Page</h1>
                <p>Resize this responsive page to see the effect!</p>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Column 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Column 2</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Column 3</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Sec_PMA">
            <h2>PMA</h2>
            <div class="jumbotron">
                <h1>My First Bootstrap Page</h1>
                <p>Resize this responsive page to see the effect!</p>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Column 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Column 2</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Column 3</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Sec_TOTO">
            <h2>TOTO</h2>
            <div class="jumbotron">
                <h1>My First Bootstrap Page</h1>
                <p>Resize this responsive page to see the effect!</p>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Column 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Column 2</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Column 3</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Sec_Herramentales">
            <h2>Herramentales</h2>
            <div class="jumbotron">
                <h1>My First Bootstrap Page</h1>
                <p>Resize this responsive page to see the effect!</p>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Column 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Column 2</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Column 3</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Sec_Terrasse">
            <h2>Terrasse</h2>
            <div class="jumbotron">
                <h1>My First Bootstrap Page</h1>
                <p>Resize this responsive page to see the effect!</p>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Column 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Column 2</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Column 3</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Sec_Conocenos">
            <h2>Conocenos</h2>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Column 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                    </div>
                    <div class="col-sm-4">
                        <h3>Column 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                    </div>
                    <div class="col-sm-4">
                        <h3>Column 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="Sec_Contacto">
            <h2>Contacto</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>header</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>test</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" data-toggle="modal" href='#TEST'>Trigger modal</a>
            <div class="modal fade" id="TEST">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">MY PRIMER MODAL</h4>
                        </div>
                        <div class="modal-body">
                            MY MODAL
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-5">
            <h2>Section 5</h2>
            <slick class="slider" dots="true" speed="300" autoplay="true" slides-to-show="1" slides-to-scroll="1" width="95%">
                <div>
                    <img src="../images/bg1.jpg" width="100%" height="100%" />
                </div>
                <div>
                    <img src="../images/bg2.jpg" width="100%" height="100%" />
                </div>
                <div>
                    <img src="../images/bg3.jpg" width="100%" height="100%" />
                </div>
                <div>
                    <img src="../images/bg4.jpg" width="100%" height="100%" />
                </div>
                <div>
                    <img src="../images/bg5.jpg" width="100%" height="100%" />
                </div>
            </slick>
    </div>
</div>
