<div class="container fluid">
    <div class="w3-teal">
        <button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
    </div>
    <div class="wrap">
        <section id="portada">
            <div ng-include src="'views/portada.html'"></div>
        </section>
        <section id="Sec_GPMA">
            <div ng-include src="'views/grupo_pma.html'"></div>
        </section>
        <section id="Sec_Clientes">
            <div ng-include src="'views/clientes.html'"></div>
        </section>
        <section name="Sec_Distribucion">
            <div ng-include src="'views/distribucion.html'"></div>
        </section>
        <section id="Sec_PMA">
            <div ng-include src="'views/pma.html'"></div>
        </section>
        <section id="Sec_TOTO">
            <div ng-include src="'views/toto.html'"></div>
        </section>
        <section id="Sec_Herramentales">
            <div ng-include src="'views/herramentales.html'"></div>
        </section>
        <section id="Sec_Terrasse">
            <div ng-include src="'views/terrasse.html'"></div>
        </section>
        <section id="Sec_Conocenos">
            <div ng-include src="'views/conocenos.html'"></div>
        </section>
        <section id="Sec_Contacto">            
            <div ng-include src="'views/contacto.html'"></div>
        </section>
        <section id="section-5">
            <div ng-include src="'views/localizacion.html'"></div>
        </section>
    </div>
</div>
