<div>
    <h2>Portada</h2>
    <div class="jumbotron">
        <h1>Grupo PMA</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-6" Bo>
                    <h3>Mision</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <div class="col-sm-6">
                    <h3>Vision</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" align="right">
                    <p> "Estar a la par en términos de precio y calidad sólo te mete en el juego. El servicio gana el juego."</p>
                    <p>-Tony Allesandra-</p>
                </div>
            </div>
        </div>
    </div>
</div>
